{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Type of dish list</h1>
  <a href="{% url 'kitchen:dish-type-create' %}">add</a>
  <form action="" method="get" class="form-inline">
    {{ search_forms|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for type in dish_type_list %}
        <tr>
          <td>
              {{ type.id }}
          </td>
          <td>
              {{ type.name }}
          </td>
          <td>
              <a href="{% url 'kitchen:dish-type-update' pk=type.id %}">
                Update
              </a>
            </td>
        <td>
              <a href="{% url 'kitchen:dish-type-delete' pk=type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}